<!-- <Comp-A></Comp-A> -->

<!-- String interpolation........... -->
 <h1>Name:{{Headingname}}:Fatername:{{Fathername}} </h1>

 <p>Adress:{{getAdress()}} </p>
 <p>Number:{{getphoneNumber()}} </p>

<!-- property Data binding..................... -->
Emali:<input  type="text"  placeholder="Enter valid emailAdress" />



Emali:<input  type="text"  [value]="emailAdress"/> 
<br>
Gender:
<input [type]="inputtype" />Male
<input [type]="inputtype" />feMale

<!-- <a [href]="imagelink">image</a> -->
 <a [href]="cortoonlink">imagelink</a>

<img [src]="imagesrc"/>


<!-- -------------------Evennt binding------------------------ -->

<button (click)="evant1()">Click</button>
<button (mouseover)="evant2()">Mouseoverhere</button>


<!-- $ Event......... -->
<p (mouseover)="evantMouseover('Madan')">Raju
</p>



<!-- <p (mouseover)="evtMouseOver_2($event)">
    Third Paragraph</p> -->

<!-- 
 <p (click)="evtPKeyEvent($event)">
    fourth Paragraph</p>  -->


<input
 type="text" 
(keyup)="evtKeyEvent($event)"
>









