<!-- <Comp-A></Comp-A> -->

<!-- String interpolation........... -->
 <h1>Name:{{Headingname}}:Fatername:{{Fathername}} </h1>

 <p>Adress:{{getAdress()}} </p>
 <p>Number:{{getphoneNumber()}} </p>

<!-- property Data binding..................... -->
Emali:<input  type="text"  placeholder="Enter valid emailAdress" />



Emali:<input  type="text"  [value]="emailAdress"/> 
<br>
Gender:
<input [type]="inputtype" />Male
<input [type]="inputtype" />feMale

 <a [href]="cortoonlink">imagelink</a>
<!-- <a [href]="imagelink">image</a> -->
<br>
Myimage: 
<br>
<img [src]="imagesrc_1" width="100px" height="100px" />
<br>
<img [src]="imagesrc_2" width="100px" height="100px"/>
<br>
<img [src]="imagesrc_3" width="100px" height="100px"/>

<!-- -------------------Evennt binding------------------------ -->

<button (click)="evant1()">Click</button>
<button (mouseover)="evant2()">Mouseoverhere</button>


<!-- $ Event...we can get the element detailes...... -->


<p (mouseover)="evantMouseover('Raju')">Son of {{Fathername}}</p>


<p (mouseover)="eventMouseover_2($event)">Son of {{Fathername}}</p>

<p (mouseover)="eventMouseover_2($event)">{{Headingname}}</p>


<p (click)="event_3($event)" >click PointerEvent </p>

 Enter any key on the keybord:<input type="text" (keyup)="event_4($event)" />


