<h1>Welocom to Raju's angular project</h1>
 <h1>Course Overview</h1>

    <p>This HTML Beginner Course is designed for absolute beginners who aspire to build a strong foundation in web development. Through a step-by-step, hands-on approach, you will learn how to structure modern, responsive web pages using HTML5 standards
    The course covers everything from basic building blocks — headings, paragraphs, images, links — to advanced topics such as semantic HTML, forms, and page layouts. You will also explore how HTML works with CSS to create visually attractive websites. By the end, you will confidently build professional web pages and be ready for further learning in JavaScript, Angular, or full-stack development.</p>
     <h2>About The Trainer</h2>

    <p>Madan Patakota is an experienced software developer and a passionate educator with over a decade of real-world industry experience. He specializes in Front-End Development, Full Stack Application Design, and Cloud Solutions across sectors including telecom, real estate, insurance, and marketing</p>
      <p>Beyond his professional work, Madan has mentored hundreds of students and fresh graduates, focusing on practical, hands-on learning. His teaching emphasizes simplicity, clarity, and real-world applications, helping learners become job-ready professionals.</p>
    <h2>Course Content