h1{
    text-align: center;
    height: fit-content;
    background-color: brown;
       max-width: fit-content;
      
    }

    p{
      background-color: aqua;
      max-width: fit-content;

    }
    .redparagraph{
      background-color: brown;
    }
    .greenparagraph{
      background-color: aqua;
    }
.GoodEmoplye{
  background-color: darkgreen;
}
.BadEmoplye{
  background-color: yellow;
}