<!-- <comp-A></comp-A> -->
 <!-- <com-r></com-r> -->
 <!-- <app-comp-r></app-comp-r> -->
 <!-- <Comp-A></Comp-A> -->

<!-- String interpolation........... -->
 <h1>Name:{{Headingname}}:Fatername:{{Fathername}} </h1>

 <p>Adress:{{getAdress()}} </p>
 <p>Number:{{getphoneNumber()}} </p>

<!-- property Data binding..................... -->
Emali:<input  type="text"  placeholder="Enter valid emailAdress" />



Emali:<input  type="text"  [value]="emailAdress"/> 
<br>
Gender:
<input [type]="inputtype" />Male
<input [type]="inputtype" />feMale

 <a [href]="cortoonlink">imagelink</a>
<!-- <a [href]="imagelink">image</a> -->
<br>
Myimage: 
<br>
<img [src]="imagesrc_1" width="100px" height="100px" />
<br>
<img [src]="imagesrc_2" width="100px" height="100px"/>
<br>
<img [src]="imagesrc_3" width="100px" height="100px"/>

<!-- -------------------Evennt binding------------------------ -->

<button (click)="evant1()">Click</button>
<button (mouseover)="evant2()">Mouseoverhere</button>


<!-- $ Event...we can get the element detailes...... -->


<p (mouseover)="evantMouseover('Raju')">Son of {{Fathername}}</p>


<p (mouseover)="eventMouseover_2($event)">Son of {{Fathername}}</p>

<p (mouseover)="eventMouseover_2($event)">{{Headingname}}</p>


<p (click)="event_3($event)" >click PointerEvent </p>

 Enter any key on the keybord:<input type="text" (keyup)="event_4($event)" />

<br>

<!----------------------------------------NgModel--------------------------------------------------->
<!-- <br>
<select [value]="RoleId">
    <option value="1">Admin</option>
        <option value="2">Non-Admin</option>

</select>
<br> -->
<!-- now we aply ngmodel to this---------------------------


<select [ngModel]="RoleId">
    <option value="1">Admin</option>
        <option value="2">Non-Admin</option>

</select> -->
<!-- ----------NgModel Change----------- -->
<br>
<!-- 
<input [ngModel]="costmorrole" (ngModelChange)="eventngchange($event)" />
<br>
<p>{{costmorrole}}</p> -->
<br>
<!---------------------ngmodel+ngmodelchange----------------->


<!-- [(ngModel)]=[ngModel]+(ngModelChange) -->


<input [(ngModel)]="costmorrole" />

<p>{{costmorrole}}</p>

<!--Directives:Wich is useful for add behaviouur of the element-->
<!-----------------------------------------
ngStyle,
ngClass,
ngIf,
ngTemplate,
ngSwitch
---------------------------------------------->

<!-- ngStyle------------- -->

 <div style="background-color: aqua;">This is normal style</div>
 <br>
<button (click)="clickdiv()">ClickMe</button>
<br>
 <div [ngStyle]="{'background-color':divcolor,'color':fontcolor}" >This is ngStyle</div>

<br>

<div [ngStyle]="{'background-color': isAdmin == true ? divcolor:'pink'}">Welcome To Raju's World</div>

<br>
<div [ngStyle]="{'background-color': isAdmin == true ? 'red':'pink'}" >This is ngStyle</div>







